.logo_image{
    width: 200px;
    
}
.ck.ck-editor__main>.ck-editor__editable{
    height: 250px;
}
.seo-section-divider, .twitter-section-divider, .advanced-section-divider, .og-section-divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}
.tag-link{
    border: 1px solid black;
    padding: 4px;
    margin-left: 5px;
    text-align: center;
}

.seo-section-divider hr {
    flex: 1;
    border: none;
    height: 3px;
    background-color: #41619b;
    margin: 0 10px;
}

.seo-section-divider span {
    font-weight: bold;
    font-size: 18px;
    color: #202d64;
    white-space: nowrap;
}

.twitter-section-divider span {
    font-weight: bold;
    font-size: 18px;
    color: #1DA1F2;
    white-space: nowrap;
}
.twitter-section-divider hr {
    flex: 1;
    border: none;
    height: 3px;
    background-color: #1DA1F2;
    margin: 0 10px;
}


.og-section-divider hr {
    flex: 1;
    border: none;
    height: 3px;
    background-color: #FFA500;
    margin: 0 10px;
}

.og-section-divider span {
    font-weight: bold;
    font-size: 18px;
    color: #FFA500;
    white-space: nowrap;
}
.advanced-section-divider hr {
    flex: 1;
    border: none;
    height: 3px;
    background-color: green;
    margin: 0 10px;
}

.advanced-section-divider span {
    font-weight: bold;
    font-size: 18px;
    color: green;
    white-space: nowrap;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
.cat-class table th, .cat-class table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}
table th {
    background-color: #f4f4f4;
}
.action-buttons a {
    margin-right: 10px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
}
.action-buttons .edit {
    background-color: #28a745;
}
.action-buttons .view {
    background-color: #e4ce09;
}
.action-buttons .delete {
    margin-right: 10px;
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 4px;
    color: #fff;
    background-color: #dc3545;
}
.footer-pagination .justify-between{
    width: 100%;
}
.pagination a, .pagination span {
    margin: 0 5px;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #555;
}
.pagination a:hover {
    background-color: #f4f4f4;
}
.blog-image{
    width: 100px;
}

.myform form {
    max-width: 800px; margin: auto; padding: 20px; border: 1px solid #ddd;
     border-radius: 8px; background: #f9f9f9; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.myform label {
    display: block;
    font-weight: bold; 
    margin-bottom: 5px;
}
.myform input, .myform textarea, .myform select, .myform .mybuttton {
    
    width: 100%; padding: 10px; margin-bottom: 15px; 
    border: 1px solid #ccc; border-radius: 4px;
}
.myform .mybuttton {
    display: block; width: 100%; padding: 10px;
    background-color: #007bff; color: #fff; 
    border: none; border-radius: 4px; font-size: 16px; cursor: pointer;
}
.myform .mybuttton:hover {
    background-color: #0056b3;
}
.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 15px;
  font-family: Arial, sans-serif;
}

.myform .form-check-input {
  width: 18px !important;
  height: 18px !important;
  margin-left: 20px;
  cursor: pointer;
  accent-color: #007bff; /* Modern browser support */
}

.form-check-label {
  cursor: pointer;
  color: #333;
  user-select: none;
}

.form-check-input:checked {
  /* Optional custom check color */
  background-color: #007bff;
  border-color: #007bff;
}

.blogview .content{
    width: 800px;
}
.blogview .content img{
    width: 100%;
}
.blogview h1{
    line-height: 40px;
    font-size: 40px;
    font-weight: 600;
}
.actionDiv{
    width: 100%;
    border-top: 2px solid lightgray;
    padding: 10px;
    display: inline-flex;
}
.back_button{  
    width: 150px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 10px 0 10px;
    background-color: #007bff; color: #fff; 
    border: none; border-radius: 4px; font-size: 16px; cursor: pointer;  
}
.back_button:hover{  
    background-color: #0056b3;
}
.text-danger{
    color: #dc3545;
}
h1 {
    font-size: 40px; /* 48px */
}
h2 {
    font-size: 32px; /* 40px */
    
}
h3 {
    font-size: 28px; /* 32px */
}
h4 {
    font-size: 24px; /* 28px */
}
h5 {
    font-size: 20px; /* 24px */
}
h6 {
    font-size: 16px; /* 20px */
}
.summerclass ul {
    list-style: square !important;
}
.summerclass ol {
    list-style-type: decimal !important;
}
.summerclass h2 {
    color: #000000 !important;
}
.summerclass .note-editing-area{
    background-color: white;
}
.blogview .meta-content{
border-bottom: 2px dotted gray;
padding-bottom: 3px;
}
.bg-white h2{
    color: #202d64;
    text-align: center;
}
.analytics h2{
    color: #e31e24;
}



